.benefits-list{
    display: flex;
}
.benefits-list .benefits-list__item+.benefits-list__item {
    margin-left: 30px;
}
.benefits-list__link{
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.benefits-list__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.benefits-list__text {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.71;
    text-transform: none;
    letter-spacing: 0.03em;
    max-width: 270px;
}


