/* Footer  */


.footer__container{
    display: flex;
    align-items: baseline;
}
.footer {
    background-color: var(--color-background);
    padding: 60px 0;
}
.footer__contacts {
    flex-grow: 1;
}

/* Address  */
.address{
    margin-top: 20px;
}
.address__list{
    display: flex;
    flex-direction: column;
} 
.address__item+.address__item{
    margin-top: 10px;
}
.footer__logo {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.03em;
}
.footer-color {
    color: var(--primary-color-white);
}
.footer__address {
    color: var(--primary-color-white);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.03em;
}
.footer__link {
    color: var(--color-footer-contact);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.03em;
}

/*footer-social*/

.footer__container{
    display: flex;
    align-items: baseline;
}
.footer-social{
    margin-left: 70px;
}
.footer-title{
    color: var(--primary-color-white);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.footer-social-list{
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
}
.footer-social-list__item+.footer-social-list__item{
    margin-left: 10px;
}
.footer-social-list__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus{
    background-color: var(--accent-color);
}
}
.footer-social-list__icon{
    fill: var(--primary-color-white);
}

/*subscribe*/
.footer__subscribe{
    margin-left: 93px;
 }
 .subscribe__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--primary-color-white);
 }
.subscribe__input{
    flex: 1 0 auto;
    border-radius: 4px;
    padding: 15px 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--primary-color-white);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__label {
    position: relative;
    display: flex;
    width: 570px;

    height: 50px;
    fill: #ffffff;
}
.subscribe__button{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;

    font-family: Roboto,
    sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
    margin-left: 12px;
    color: var(--primary-color-white);
    background-color: var(--accent-color);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 10px 29px;

&:hover,
&:focus{
    background-color: var(--color-box-button);
}
}
.subscribe__button-icon{
    margin-left: 10px;
    fill: var(--primary-color-white);
}


@media screen and (max-width: 768px) {
    .footer{
        min-height: 620px;
    }
    .footer__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 0;
        margin-bottom: 60px;
    }
    .address__list {
        align-items: center;
    }
    .footer-social{
        margin-bottom: 60px;  
    }
}

@media screen and (min-width: 768px) {
    .footer__container {
        display: flex;
        flex-wrap: wrap;
    }
    .footer {
        min-height: 480px;
    }
    .footer-social{
        margin-left: 70px;
    }
}

@media screen and (max-width: 1200px) {
    .footer-social{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .footer__subscribe{
        width: 450px;
        margin: 0;
        text-align: center;
        margin: 60px auto 0;
    }
    .subscribe__label{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .subscribe__input {
        width: 100%;
        margin-bottom: 20px;
    }
    .subscribe__button {
        margin: 0;
    }
}

@media screen and (max-width: 540px) {
    .footer__subscribe {
        width: 290px;
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        min-height: 260px;
    }
    .footer__container {
        display: flex;
        align-items: baseline;
    }
}