.footer-container{
    display: flex;
    align-items: baseline;
}
.footer-social{
    margin-left: 70px;
}
.footer-title{
    color: var(--primary-color-white);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.footer-social-list{
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
}
.footer-social-list__item+.footer-social-list__item{
    margin-left: 10px;
}
.footer-social-list__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus{
    background-color: var(--accent-color);
}
}
.footer-social-list__icon{
    fill: var(--primary-color-white);
}
