:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --color-logo: #000000;
    --color-background: #2F303A;
    --color-footer-contact: #FFFFFF60;
    --background-button-member: #F5F4FA;
    --primary-color-white: #FFFFFF;
    --color-box-button: #188CEB;
}